<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spolyr</title>

    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://kit.fontawesome.com/b8a4cfefed.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    {{ template "navbar" . }}

    <form method="get" action="/search" class="mt-5 mb-4">
        <div class="input-group mb-3">
            <input type="text" name="q" autocomplete="off" class="form-control form-control-lg" placeholder="Search for titles, artists, album names or lyrics">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        {{ if gt .TrackCount 0 }}
            <span class="text-muted mt-1">Indexed {{ .TrackCount }} tracks
            {{ if gt .TracksWithLyricsCount 0 }}
                including {{ .TracksWithLyricsCount }} tracks with known lyrics.
            {{ end }}
            </span>
        {{ end }}
    </form>

    {{ if .TracksLatest }}
        <h3>Latest songs</h3>
        <div class="row">
            {{ range .TracksLatest }}
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        {{ if .ImageURL }}
                        <img class="card-img-top" src="{{ .ImageURL }}" alt="album cover of {{ .AlbumName }} from {{ .Artist }}">
                        {{ end }}
                        <div class="card-body">
                            <h5 class="card-title">{{ .Name }}</h5>
                            <p class="card-text">
                                {{ .Artist }}
                            </p>
                            <div class="card-text">
                                <a href="/tracks/{{ .SpotifyID }}" class="d-inline-block mt-1 btn btn-primary" target="_blank">
                                    Details
                                </a>
                                <a href="https://open.spotify.com/track/{{ .SpotifyID }}" class="d-inline-block mt-1 btn btn-primary" target="_blank">
                                    <i class="fab fa-spotify"></i> to Spotify
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    {{ end }}
</div>
</body>
</html>