<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spolyr</title>

    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://kit.fontawesome.com/b8a4cfefed.js" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column justify-content-between min-vh-100">
    <div class="wrapper">
        {{ template "navbar" . }}
        {{ block "content" . }}
        {{ end }}
    </div>
    {{ template "footer" . }}
</body>
</html>