$body-bg: #2A3A48;
$body-color: #EBEBEB;

$primary: #00df61;
$secondary: #4E5D6C;
$dark: $secondary;

$card-bg: $dark;
$jumbotron-bg: $dark;


$table-head-bg: #abb6c2;
$table-border-color: rgba(0, 0, 0, 0.15);

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$link-color: #00ce59;
$link-hover-color: #00ff6f;

$nav-link-padding-x: 1rem;

$btn-border-width: 1px;
$input-btn-focus-color: rgba(0, 0, 0, 0.05);
$input-border-color: #ffffff;
$input-focus-border-color: $input-border-color;

