{{ define "content" }}
    <div class="container">
        {{ if gt .TrackCount 0 }}
            <div class="text-muted mt-1 mb-3">Indexed {{ .TrackCount }} tracks
                {{ if gt .TracksWithLyricsCount 0 }}
                    including {{ .TracksWithLyricsCount }} tracks with known lyrics.
                {{ end }}
            </div>
        {{ end }}

        {{ if .TracksLatest }}
            <h3>Latest songs</h3>
            <div class="row">
                {{ range .TracksLatest }}
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class="card" style="height: 100%">
                            {{ if .ImageURL }}
                                <img class="card-img-top" src="{{ .ImageURL }}"
                                     alt="album cover of {{ .AlbumName }} from {{ .Artist }}">
                            {{ end }}
                            <div class="card-body d-flex justify-content-between flex-column">
                                <div>
                                    <h5 class="card-title">{{ .Name }}</h5>
                                    <p class="card-text">
                                        {{ .Artist }}
                                    </p>
                                </div>

                                <div class="card-text mt-1">
                                    <a href="/tracks/id/{{ .SpotifyID }}" class="d-inline-block btn btn-primary">
                                        Details
                                    </a>
                                    <a href="https://open.spotify.com/track/{{ .SpotifyID }}"
                                       class="d-inline-block btn btn-primary" target="_blank">
                                        <i class="fab fa-spotify"></i> to Spotify
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
        {{ end }}
    </div>
{{ end }}
