{{ define "content" }}
    <div class="container">
        <form method="get" action="/search" class="mt-5 mb-4">
            <div class="input-group">
                <input type="text" name="q" autocomplete="off" class="form-control form-control-lg" placeholder="Search for titles, artists, album names or lyrics" value="{{ .Query }}">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <span class="text-muted mt-1">{{ len .Tracks }} search results</span>
        </form>

        {{ template "track-list" .Tracks }}
    </div>
{{ end }}