{{ define "content" }}
    <div class="container">
        <div class="card">
            <div class="card-body">
                {{ if .Syncing }}
                    <h1 class="h2 mb-4">
                        Import of lyrics started
                    </h1>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ .SyncProgressValue }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ .SyncProgressValue }}%">
                            {{ .SyncedTracks }} / {{ .TotalTracksToSync }}
                        </div>
                    </div>
                    <div>
                        <small>
                            {{ .SyncLog }}
                        </small>
                    </div>
                <script>
                    setTimeout(function() {
                        window.location.href = window.location.href
                    }, 5000);
                </script>
                {{ else }}
                    <h1 class="h2 mb-4">
                        Import has not been started yet
                    </h1>
                    <form method="post">
                        <button type="submit" class="btn btn-primary">
                            Start lyrics import
                        </button>
                    </form>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}