{{ define "content" }}

    <div class="container">
        <div class="mt-2 mb-2">
            <a href="javascript:window.history.back()" class="btn btn-primary">
                <i class="fas fa-arrow-left"></i> Back
            </a>
        </div>

        {{range .Success}}
            <div class="alert alert-success">
                {{.}}
            </div>
        {{end}}

        {{range .Error}}
            <div class="alert alert-danger">
                {{ . }}
            </div>
        {{ end }}

        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="card position-sticky" style="top: 1em">
                    {{ if .Track.ImageURL }}
                        <img class="card-img-top" src="{{ .Track.ImageURL }}"
                             alt="album cover of {{ .Track.AlbumName }} from {{ .Track.Artist }}">
                    {{ end }}
                    <div class="card-body">
                        <h5 class="card-title">{{ .Track.Name }}</h5>
                        <p class="card-text">
                            <a href="/search?q={{ .Track.Artist }}">{{ .Track.Artist }}</a> - {{ .Track.AlbumName }}
                        </p>
                        <div class="card-text">
                            {{ if .Track.PreviewURL }}
                                <audio controls preload="none" style="width: 100%">
                                    <source src="{{ .Track.PreviewURL }}" type="audio/mpeg">
                                </audio>
                            {{ end }}
                            <a href="https://open.spotify.com/track/{{ .Track.SpotifyID }}"
                               class="d-inline-block mt-1 btn btn-primary" target="_blank">
                                <i class="fab fa-spotify"></i> to Spotify
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">
                                Lyrics
                            </h3>
                            <form method="post" action="/tracks/id/{{ .Track.SpotifyID }}/sync">
                                <div class="btn-group" role="group">
                                    {{ if .User }}
                                        <a href="/tracks/id/{{ .Track.SpotifyID }}/edit" class="btn btn-sm btn-primary">
                                            <i class="fas fa-edit"></i> Edit
                                        </a>
                                    {{ end }}

                                    {{ if not .Track.Loaded }}
                                        <button type="submit" class="btn btn-sm btn-primary">
                                            <i class="fas fa-quote-left"></i> Download Lyrics
                                        </button>
                                    {{ end }}
                                </div>
                            </form>
                        </div>

                        <div class="card-text">
                            {{ if .Track.Lyrics }}
                                {{ formatHTML .Track.Lyrics }}
                            {{ else }}
                                <small class="text-muted">No lyrics available.</small>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}