{{ define "track-list" }}
    <table class="table table-sm table-hover" id="tracks">
        <thead class="thead-light">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Artist</th>
            <th scope="col">Album</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {{ range . }}
            <tr data-preview-url="{{ .PreviewURL }}">
                <td>{{ .Name }}</td>
                <td>{{ .Artist }}</td>
                <td>{{ .AlbumName }}</td>
                <td>
                    {{ if .Loaded }}
                        <small><i class="fas fa-quote-right" title="Lyrics available"></i></small>
                    {{ end }}

                    {{ if .PreviewURL }}
                        <small><i class="fas fa-music" title="Audio snippet available"></i></small>
                    {{ end }}
                </td>
                <td class="d-flex justify-content-end">
                    {{ if .PreviewURL }}
                        <button type="button" class="btn btn-sm btn-primary player-button mr-1">
                            <i class="fa fa-play"></i>
                            <i class="fa fa-pause"></i>
                        </button>
                    {{ end }}
                    <a href="/tracks/id/{{ .SpotifyID }}" class="btn btn-primary btn-sm">Details</a><br>
                </td>
            </tr>
        {{ end }}
        </tbody>
    </table>
    <audio class="hide" id="player"></audio>
    <style>
        .player-button {
            visibility: hidden;
        }

        .player-button .fa-pause {
            display: none;
        }

        .player-button.player-button--playing .fa-pause {
            display: block;
        }

        .player-button.player-button--playing .fa-play {
            display: none;
        }

        #tracks tr:hover .player-button {
            visibility: visible;
        }
    </style>
    <script>

    </script>
{{ end }}

{{ define "scripts" }}
    <script type="text/javascript" src="/static/dist/tracks.js"></script>
{{ end }}